::selection{
    user-select: none;
}

body{
    background-color: rgb(20, 20, 20);
}
button{
    padding: 8px 16px;
}
h1{
    text-align: center;
    color: white;
}
.start{
    font-size: 30px;
}
.header-container{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 100px;
    justify-content: space-between;
    background-color: indigo;
    padding: 10px;
}
.mode-btns{
    margin: auto;
    display:flex ;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}
.refresh{
    padding: 2px 8px;
}
.container{
    height: 850px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 197, 255);
    box-shadow: 0 0 150px 20px rgba(0, 0, 0, 0.418) inset;
}
.beginner-main{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.664);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.58) inset;
    border-radius: 5px;
}
.row{
    display: flex;
}
.timmer{
    display: flex;
    width: fit-content;
    padding: 0 30px;
    margin: auto;
    color: white;
}
.timmer > div {
    padding: 0 10px;
    text-align: center;
}
h3{
    margin: 5px 0;
}
p{
    margin: 5px 0;
}
.box{
    border-radius: 5px;
    width: 40px;
    height: 40px;
    min-height: 25px;
    min-width: 25px;
    margin: 1px;
    background-color: rgb(14, 14, 14);
    color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.playAgain{

    padding: 20px;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.playAgain > h2{

    font-size: 30px;
    width: fit-content;
}
.playAgain-btn{

    width: fit-content;
}
.hide {
    display: none;
}
